appnope==0.1.0
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
beautifulsoup4==4.6.0
bleach==2.1.4
boto==2.49.0
boto3==1.9.1
botocore==1.12.1
bz2file==0.98
certifi==2018.4.16
chardet==3.0.4
colorlover==0.2.1
cycler==0.10.0
cymem==1.31.2
cytoolz==0.9.0.1
decorator==4.3.0
dill==0.2.8.2
docutils==0.14
elasticsearch==6.3.1
en-core-web-sm==2.0.0
entrypoints==0.2.3
flake8==3.6.0
funcy==1.10.3
future==0.16.0
gensim==3.5.0
html5lib==1.0.1
idna==2.7
ipdb==0.11
ipykernel==4.7.0
ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.0
jedi==0.12.1
Jinja2==2.10
jmespath==0.9.3
joblib==0.12.4
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.3
mccabe==0.6.1
mistune==0.8.3
more-itertools==4.3.0
msgpack==0.5.6
msgpack-numpy==0.4.3.1
murmurhash==0.28.0
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.3
notebook==5.7.2
numexpr==2.6.8
numpy==1.15.0
-e git+git@github.com:codefortulsa/oscn.git@d16d4eb5ea966115dc8ad765a81c132163bb5629#egg=oscn
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.0
pexpect==4.6.0
pickleshare==0.7.4
pkginfo==1.4.2
plac==0.9.6
pluggy==0.7.1
preshed==1.0.1
prometheus-client==0.3.1
prompt-toolkit==1.0.15
ptyprocess==0.6.0
py==1.6.0
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.2.0
pyLDAvis==2.1.2
pyparsing==2.2.0
pytest==3.8.0
python-dateutil==2.7.3
pytz==2018.5
pyzmq==17.1.2
qtconsole==4.4.1
regex==2017.4.5
requests==2.20.0
requests-toolbelt==0.8.0
retrying==1.3.3
s3transfer==0.1.13
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
smart-open==1.6.0
spacy==2.0.12
terminado==0.8.1
testpath==0.3.1
thinc==6.10.3
toolz==0.9.0
tornado==5.1
tqdm==4.23.4
traitlets==4.3.2
twine==1.11.0
ujson==1.35
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.0
wrapt==1.10.11
